@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'Alex';
  src: url('../fonts/LovelyMiles.otf');
  font-display: swap;
}

html {
  background: #e4e4e7;
}

.dark {
  background: #18181b;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.25s cubic-bezier(1, 0.8, 0.8, 1);
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translateY(-75px);
}

.scaleUp-enter-active,
.scaleUp-leave-active {
  transition: all 0.25s cubic-bezier(1, 0.8, 0.8, 1);
}

.scaleUp-enter-from,
.scaleUp-leave-to {
  opacity: 0;
  transform: scale(0.5);
}

.title-enter-active,
.title-leave-active {
  transition: all 0.8s ease-in-out;
}

.title-enter-from,
.title-leave-to {
  opacity: 0;
  transform: translateY(25px) scale(0.9);
}

.desc-enter-active,
.desc-leave-active {
  transition: all 0.85s ease-in-out;
}

.desc-enter-from,
.desc-leave-to {
  opacity: 0;
  transform: translateY(30px) scale(0.9);
}

.grad-sm {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.grad-lg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #18181b;
}

::-webkit-scrollbar-thumb {
  background: rgba(113, 113, 122, 0.3);
  transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(113, 113, 122, 0.6);
}