@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@font-face {
  font-family: 'Alex';
  src: url('../fonts/LovelyMiles.otf');
  font-display: swap;
}

.slide-enter-active,
.slide-leave-active {
  transition: all 0.25s cubic-bezier(1, 0.8, 0.8, 1);
}

.slide-enter-from,
.slide-leave-to {
  opacity: 0;
  transform: translateY(-75px);
}

.grad-sm {
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}

.grad-lg {
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}