@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NunitoSans';
  src: url('../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Caligraphy';
  src: url('../fonts/PlayfairDisplay-VariableFont_wght.ttf') format("truetype");
}