@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #290900;
    --background: #f9f0ec;
    --primary: #ff8e42;
    --secondary: #ebb693;
    --accent: #90532c;
    --textD: #ffdfd6;
    --backgroundD: #130a06;
    --primaryD: #FB7D2B;
    --secondaryD: #6c3714;
    --accentD: #d3956f;
  }

  html {
    scroll-behavior: smooth;
    font-family: 'DM Sans', sans-serif;
    @apply bg-background text-text;
  }

  @media (prefers-color-scheme: dark) {
    html {
      @apply bg-backgroundDark text-textDark;
    }
  }
}

@layer components {
  .btn {
    @apply px-4 font-medium bg-primary dark:bg-primaryDark flex items-center justify-center rounded-lg py-2 fill-text dark:fill-textDark transition-colors duration-200 hover:bg-primaryDark dark:hover:bg-primary;
  }

  .btn-icon {
    @apply grow bg-primary dark:bg-primaryDark flex items-center justify-center rounded-lg py-4 fill-text dark:fill-textDark transition-colors duration-200 hover:bg-primaryDark dark:hover:bg-primary;
  }
}